:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
    --button-hover: #19a88d;
    --background-color: #f4f7fa;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(/img/imagem-login.webp) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.advocacy-container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
}

.header h1 {
    font-size: 2.5rem;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.header p {
    font-size: 1.1rem;
    color: var(--text-grey);
    margin-bottom: 30px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
}

.login-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
}

.login-btn:hover {
    background-color: var(--button-hover);
}
